div.movie_collection
{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	grid-gap: 20px;
	padding: 10px;
}

div
{
	padding: 10px;
}
div.movie_box
{
	display: inline-grid;
}

div.movie
{

}

div.filter_section
{
	padding: 10px;
}

div.header_index
{
	margin-left: 20px;
	float : left;
}

div.header_member
{
	margin-right: 20px;
	float : right;
}

div.header_container::after
{
	padding: 10px;
	margin-top: 20px;
	clear: both;
}

button.btn
{
	text-align: center;
	border: 3px solid lightGray;
	border-radius: 5px;
}

table.basket
{
	border: 1px solid black;
	width: 80%;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}

th, td {
    padding: 15px;
}

td.right
{
	text-align: right;
}
