div.movie_collection
{
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
}

body
{
	text-decoration: none;
}

p.footer
{
	font-size: 9px;
	text-align: right;
}

div.title
{
	margin-top: auto;
	font-family: futura;
	font: 13px;
	color: black;
	margin-bottom: 3px;
}

img.movie
{
	width: 100%;
}

div.price
{
	margin-bottom: 3px;
	margin-right: 3px;
	margin-left: 3px;
	border: 1px;
	background-color: #F2845C;
	color: white;
	width: 50;
	padding: auto;
	border-radius: 5px;
}

div.movie_box
{
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 400px;
	text-align: center;
	border: 1px;
	background-color: #F5F1D5;
	box-shadow: 5px 5px 2px grey;
	margin: 3px;
}

ul.category {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4A849F;
}

li.categoryelem
{
	float: left;
}

li.categoryelem
{
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

.movie_box:hover .price
{
	background-color: #F2605C;
}

a
{
	text-decoration: none;
	color: black;
}

li.categoryelem:hover
{
	background-color: #B4D6C6;
}
ul.horizontal_list
{

}

div.filter_section
{
	padding: 10px;
}

div.header_index
{
	margin: auto;
	margin-left: 20px;
	color: white;
}

div.header_member
{
	margin-left: auto;
	margin-right: 20px;
}

a.header_link
{
	color: white;
	margin:auto;
}

div.row
{
	display: flex;
	flex-direction: column;
}

div.login_box
{
	display: flex;
	flex-direction: column;
	border: 1px;
	text-align: center;
	border-color: black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

div.register_box
{
	display: flex;
	flex-direction: column;
	border: 1px;
	text-align: center;
	border-color: black;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;

}

div.container
{
	margin-left: 15px;
	margin-right: auto;
}

div.header_container
{
	display: flex;
	padding: auto;
	background-color: #1B3440;
	clear: both;
}

button.btn
{
	text-align: center;
	border: 3px solid lightGray;
	border-radius: 5px;
}

table.basket
{
	border: 1px solid black;
	width: 80%;
}

table, th, td {
   border: 1px solid black;
   border-collapse: collapse;
}

th, td {
    padding: 15px;
}

td.right
{
	text-align: right;
}
