body
{
	background-color:#505050;
	margin: 30px 0 0 10px;
}

div.container
{
	margin:0 auto;
	width: 1420px;
}

header
{
	height: 137px;
	width:	1420px;
	position: relative;
	margin: 0 0 20px 0;
	padding: 0 0 15px 0; 
}

header, div.leftmenu, div.rightmenu, div.content, div.form
{
	border-radius: 10px;
	box-shadow: 10px 10px 10px #000000;
	background-color: #909090;
}

header img.logo
{
	height: 110px;
	margin: 10px 0 0 10px;
}

header img.search
{
	position: absolute;
	top: 10px;
	right: 30px;	
}

header img.close, header img.reload
{
	position: absolute;
	right: 10px;
	height: 20px;
	width: 20px;
}

header img.close
{
	bottom: 10px;
}

header img.reload
{
	top: 10px;
}

div.leftmenu
{
	width: 108px;
	height: 410px;
	float: left;
	margin: 3px 0 0 30px;
	padding: 15px 0 0 32px;

}

div.leftmenu img.selected
{
	border: 5px solid Red;
	margin: -5px 0 1px -5px;
	border-radius: 5px;
}

div.leftmenu img, div.rightmenu img
{
	width: 70px;
	margin: 0 0 6px 0;
}

div.rightmenu
{
	width: 105px;
	height: 410px;
	float: left;
	margin: 0;
	padding: 15px 0 0 35px;
}

div.rightmenu img
{
	width: 70px;
	margin-bottom: 6px;
}

div.rightmenu div.wall
{
	background-image: url("resources/brick.jpg");
	width: 120px;
	height: 70px;
	margin: -5px 0 0 -25px;
}

div.content
{
	width: 1020px;
	height: 582px;
	float: left;
	position: relative;
	margin: 0 30px 0 30px;
}

div.content img
{
	margin: 10px 10px 10px 10px;
	width: 1000px;
	height: 562px;
}

div.form
{
	background-color: #88ff89;
	width: 500px;
	height: 150px;
	position: absolute;
	bottom: -94px;
	left: -245px;
	padding: 10px;
	font-family: arial;
	font-size: 16px;
	font-stretch: expanded;
	letter-spacing: 1px;
	font-weight: 300;
}

div.form span.big
{
	font-family: Times;
	font-size: 31px;
}

div.form span.shadow
{
	text-shadow: 5px 5px 5px #ff0000;
}

div.form span.italic
{
	font-style: italic;
}

div.form form
{
	height: 22px;
}

div.form input[type="text"]
{
	margin-left: 2px;
	width: 376px;
	height: 15px;
	border: 2px solid #9d969d;
	border-bottom-color: #eeeeee;
	border-right-color: #eeeeee;
}

div.form input[type="submit"]
{
	height: 22px;
	background-color: #f4eff3;
   	border-radius: 1px;
	border: 1px solid #a8a4a5;
	margin-left: 5px;
	margin-top: 5px;
	font-size: 	12px;
	letter-spacing: 1px;
	background: linear-gradient(#f4eff3, #dcdcdc);
}











