body
{
	background-image:url("https://static.independent.co.uk/s3fs-public/styles/story_large/public/thumbnails/image/2016/02/08/13/DmitriMendeleev.jpg");
	background-repeat: repeat;
}
table 
{
	background-color:	white;
	width:80%;
	height:50%;
}
td
{
	border-radius: 10px;
	height: 3vh;
	width :	8vw;
	border: 1px solid black;
}
p.elenumber
{
	display: block;
	text-align:left; 
	font-size: 1vmin;
}
p.eleweight
{
	display: block;
	margin-top: 1px;
	text-align:right; 
	font-size: 1vmin;
}
h3.element
{
	display: block;
	font-size: 2vmin;
	text-align: center; 
	font-weight: bold;
}
